# CORE
node_modules/
dist/
coverage/
*.log

# ENV
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# BUILD / CACHE
.vite/
.pnpm-store/
.cache/

# FREEZER
freeze/

# HDUD STORAGE (CRÍTICO)
public/memory-media/
public/memories/
public/uploads/
tmp/
temp/

# OPTIONAL
*.sqlite
*.db

# DELIVERY / BACKUPS
*.zip
*.7z
*.rar

# RUNTIME STORAGE
storage/

# USER AVATARS
public/avatars/
